.dropdown:hover .dropdown-menu {
	display: block;
	maring-top: 0;
}

.jumbotron {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	height: 720px;
}

body {
	padding-top: 110px; /* navbar height + 10 */
}
.about > .jumbotron  {
	background-image: url("../res/tower.jpg");
}

.services > .jumbotron {
	background-image: url("../res/services.jpg");
}

.testimonials > .jumbotron {
	background-image: url("../res/testimonials.jpg");
}

.team > .jumbotron {
	background-image: url("../res/tower.jpg");
}

.contact > .jumbotron {
	background-image: url("../res/contact.jpg");
}
.navbar-brand {
	padding: 0 15px 15px 15px;
	margin: 5px;
}

.navbar-nav > li > a {
	line-height: 80px;
}

.brand {
	display: inline;
	width: 80px;
	height: 80px;
}
