.dropdown:hover .dropdown-menu {
	display: block;
	maring-top: 0;
}

.jumbotron {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto;
	background-color: white;
	height: 720px;
	dipslay: inline-block;
}

.page-label {
	margin-top: 10%;
	color: red;
	position: relative;
	z-index: 999;
}

body {
	padding-top: 110px; /* navbar height + 10 */
}
.about > .jumbotron  {
	background-image: url("../res/tower.jpg");
}

.services > .jumbotron {
	background-image: url("../res/services.jpg");
}

.testimonials > .jumbotron {
	background-image: url("../res/testimonials.jpg");
}

.team > .jumbotron {
	background-image: url("../res/team.jpg");
}

.contact > .jumbotron {
	background-image: url("../res/contact.jpg");
}

.jumbotron > p {
	color: #A51C30;
	font-family: 'Garamond', serif;
	font-size: 72px;
}
.navbar-brand {
	padding: 0 15px 15px 15px;
	margin: 5px;
}

.navbar-nav > li > a {
	line-height: 80px;
	font-size: 150%;
}

.brand {
	display: inline;
	width: 80px;
	height: 80px;
}

article {
	-webkit-columns: 3 100px;
	columns: 3 100px;
}

.img-circle {
	border-radius: 50%;
	float: center;
	max-width: 100px;
}

.profile {
	height: 200px;
	margin-left: 15px;
	float: left;
}

section {
	width: 80%;
	height: 200px;
	margin: auto;
	padding: 10px;
}

.dropdown-menu {
	font-size: 150%;
}

p {
	font-size: 150%;
}
