<!-- home.html -->
    <div class="team">
    <div class="jumbotron text-center">
        <!-- <img src="res/logo_v6.png" width="460px" style="center center black"> -->
        <p class="page-label" style="font-size: 36px">Team</p>
    </div>
    </div>

    <div class="row" ng-repeat="names in [['Susan', 'Daniel', 'Chris'], ['John', 'Angela', 'Steve']]">
        <div class="profile" ng-repeat="name in names">
            <img class="img-circle" src="res/{{name}}.jpg" height="50%" width="50%">
            <p text-align="center">{{name}}</p>
            <p>{{name | translate}}</p>
        </div>
    </div>