	<div class="testimonials">
	<div class="jumbotron text-center">
		<!-- <img src="res/logo_v6.png" width="460px" style="center center black"> -->
		<p class="page-label" style="font-size: 36px">Testimonials</p>
	</div>
	</div>

	<div class='container'>
	<p>{{ 'TESTIMONIALS' | translate }}</p>
	<ul>
		<li ng-repeat="x in [1, 2, 3]">{{ 'TESTIMONIALS'+x | translate }}</li>
	</ul>
	</div>

	<div class='container'>
		<article>
			<li ng-model="" ng-repeat="n in [] | range:55">{{'COLLEGES'+n | translate}}</li>
		</article>
	</div>
